<main class="home">
	<section class="bubble-container w-full">
	<h1 class="main-heading">Welcome to the Sandbox</h1>
	<h2 class="heading statement">Click on any of the bubbles to see what's what</h2>
	</section>
<section class="f-ctr-spa w-full relative">
  <% bubbles.forEach((item)=>{ %>
  <% let sizeIndex = Math.floor(Math.random()*4) + 1 %>
  <% let colorIndex = Math.floor(Math.random()*9) + 1 %>
  <% let animationIndex = Math.floor(Math.random()*4) + 1 %>
  <div id="<%= item.name.replaceAll(" ", "-") %>" class="bubble bubble-size-<%=sizeIndex%> bubble-color-<%= colorIndex %> bubble-animation bubble-animation-<%= animationIndex %> f-ctr rev-flow">
  <div>
  	<img src="/assets/Pictures/<%=item.name.replaceAll(" ", "-")%>.jpg" alt="<%=item.name%>"/>
  </div>
  	<!--<i class="<%=item.img%>"></i>-->
  	<p><%= item.name %></p>
  	
  	<!--href= "/tasks/<%=item.name.replaceAll(" ", "-")%>"-->
  </div>
  <% }) %>
</section>	
<%- include("Partials/home-popup.ejs") %>
</main>
<script src="/assets/scripts/bubbles.js"></script>